/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/poppins-v20-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/poppins-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
	margin: 0px;
	/* padding: 8px 8px 0px; */
	padding: 0px;
}

::-webkit-scrollbar {
  width: 0;
}

.header{
	margin-bottom: 256px;
}

.header__logo-container{
	display: flex;
	padding: 32px 0px 0px 60px;
}

.header__logo{
	color: white;
	text-align: center;
	font-family: Poppins;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	margin: 0px;
	margin-right: 12px;
	cursor: pointer;
}

.header__logo-icon{
	margin: 0px;
	width: 14px;
	cursor: pointer;
}

.main__screen{
	background-image: url(images/mainBackground.png);
	background-repeat: no-repeat;
	background-position-x: center;
	border-radius: 32px;
	background-size: cover;
	height: 1220px;
	margin: 8px 8px 60px 8px;
}

.main-screen__title{
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 128px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 0px;
	}

.main-screen__text{
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0px;
}

.main-screen__button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 315px;
	height: 52px;
	border: 1px solid #6d6d6d5a;
	border-radius: 100px;
	padding: 12px;
	background: #7979791a;
	backdrop-filter: blur(9.5px);

	transition: 200ms;
}

.main-screen__button:hover{
	background: #b3b3b31a;
	transition: 200ms;
	cursor: pointer;
}

.main__button-image{
	position: absolute;
	margin-right: 260px;
	width: 32px;
}

.button-text{
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	margin: 0px;
	letter-spacing: 1px;
}

.button-container{
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.price__screen{
	padding: 0px 48px;
	height: 1024px;
	display: flex;
}

.price__screen-title{
	display: flex;
	width: 581px;
	height: 276px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #000;
	font-family: Poppins;
	font-size: 96px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 0px;
}

.price__screen-text{
	display: flex;
	width: 484px;
	height: 161px;
	flex-direction: column;
	justify-content: center;
	color: #606060;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0px 0px 46px 0px;
}

.price__screen-order{
	display: flex;

}

.price__screen-price{
	display: flex;
	width: 200px;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.price__button-text{
	color: #FFF;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0px;
	padding: 0px;
}

.price__screen-button{
	transition: 200ms;
	width: 214px;
	height: 52px;
	border: 0px solid #0C0C0C;
	border-radius: 100px;
	background-color: #0C0C0C;
	margin-right: 20px;
	cursor: pointer;
}

.price__screen-button:hover{
	transition: 200ms;
	background-color: #2c2c2c;
}

.actual-price{
	color: #000;
	font-family: Poppins;
	font-size: 22px;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0px 6px 0px 0px;
	text-align: center;
}

.old-price{
	color: #939393;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 123.5%;
	text-decoration-line:line-through;
	margin: 0px;
}

.discount-text{
	text-align: center;
	color: #939393;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0px;
}

.price-right{
	margin-top: 100px;
	position: relative;
	width: 100%;
	line-height: 0;
}

.price__screen-img{
	position: absolute;
	width: 500px;
	border: 6px solid white;
	border-radius: 24px;
}

#Saddle{
	top: 100px;
	right: 200px;
}

#Light{
	position: absolute;
	top: 425px;
	right: 750px;
}

#Handlebar{
	bottom: 100px;
	left: 580px;
}


.light__button{
	transition: 200ms;
	display: flex;
	align-items: center;
	width: 200px;
	height: 48px;
	border: 1px solid rgba(109, 109, 109, 0.353);
	cursor: pointer;
	border-radius: 100px;
	background: rgba(78, 78, 78, 0.15);
	backdrop-filter: blur(8px);
}

.light__button:hover{
	transition: 200ms;
	background: rgba(131, 131, 131, 0.15);
}

.light__img-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.light__button-text{
	color: #FFF;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	margin-left: 48px;
}

.light__button-icon{
	position: absolute;
	bottom: 6px;
	left: 8px;
	height: 100px;
}

.key__features-title{
	color: #000;
	font-family: Poppins;
	font-size: 96px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 0px 0px 140px 48px
}

.scroll__wrapper{
	display: flex;
	justify-content: center;
	gap: 64px;
}

.scroll__el{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
	height: 680px;
	position: relative;
}

.scroll__el-image{
	width: 350px;
	height: 500px;
	margin-bottom: 32px;
	transition: 250ms;
	cursor: pointer;
}

.scroll__el-image:hover{	
	transform: scale(1.05);
}

.scroll__el-image:hover .scroll__el-underline{
	background-color: black;
	width: 1000px;
}

.scroll__el-title{
	margin: 0px;
	color: #000;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin-bottom: 16px;
}

.scroll__el-text{
	margin: 0px;
	max-width: 350px;
	color: #2E2E2E;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
}

.scroll__el-underline{
	width: 300px;
	height: 2px;
	background-color: #b4b4b4;
	border: none;
	border-radius: 100px;
	position: absolute;
	bottom: 0px;
}

.scroll__el-underline-current{
	height: 3px;
	transform: scale(1.1);
	background-color: #333333;
	
}

.info__screen{
	padding: 100px 48px 32px 48px;
	position: relative;
}

.info__screen-title{
	color: #000;
	font-family: Poppins;
	font-size: 96px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 64px 0px 16px 0px;
}

.info__text{
	color: #000;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0;
}

.info__text-container{
	display: flex;
	flex-direction: row;
	gap: 240px;
	margin-bottom: 48px;
}

.info__download{
	cursor: pointer;
}

.info__img-container{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.info__img{
	max-width: 100%;
	border-radius: 28px;
	grid-area: 1/1/2/2;
}

.info__img-title{
	color: #FFF;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 0;
	margin-bottom: 12px;
}

.info__img-text{
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0;
	max-width: 250px;
}

.img__text-container{
	display: flex;
	grid-area: 1/1/2/2;
	align-self: end;
	margin: 0px 48px 40px;
	justify-content: space-between;
}

.info__screen-icons-container{
	display: flex;
	align-items: end;
	gap: 14px;
}

.info__screen-scroll{
	display: flex;
	gap: 26px;
	margin-top: 42px;
	justify-content: center;
}

.info__screen-scroll-el{
	width: 130px;
	border: 2px solid #939393;
	border-radius: 160px;
}

.reviews__screen{
	padding: 64px 48px;
}

.reviews__screen-title{
	color: #000;
	font-family: Poppins;
	font-size: 86px;
	font-weight: 500;
	line-height: 123.5%;
	margin: 100px 0px 92px 0px;
}

.reviews__text{
	color: #000;
	font-family: Poppins;
	font-size: 28.035px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	max-width: 740px;
	margin: 0;
}

.reviews__screen-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviews__text-container{
	display: flex;
	align-items: start;
}

.reviews__quote-img{
	margin: 0px 42px 0px 0px;
	width: 66px;
}

.author-current__text{
	color: var(--font-back, #939393);
	font-family: Poppins;
	font-size: 16.354px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%; /* 20.197px */
	margin: 0;
}

.author-current__title{
	color: #FFF;
	font-family: Poppins;
	font-size: 24.995px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%; /* 30.869px */
	margin: 0px 0px 6px 0px;
}

.reviews__author-current{
	width: 346px;
	height: 102px;
	background-color: #000;
	border-radius: 100px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.reviews__authors-container{
	margin: 38px 0px 0px 0px;
	display: flex;
	align-items: center;
	gap: 26px;
}

.reviews__author-img{
	width: 71px;
	cursor: pointer;
}

#current__author-img{
	margin-left: 18px;
}

.author-current__text-container{
	margin-right: 48px;
}

.specs__screen{
	padding: 64px 48px;
}

.specs__title{
	color: #000;
	font-family: Poppins;
	font-size: 96px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 0px 0px 48px 0px;
}

.specs__block-title{
	color: #fff;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.5%;
	margin: 0;
}

.specs__block-number{
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 18.286px;
	font-style: normal;
	font-weight: 500;
	margin: 0;
}

.specs__block-number-container{
	border-radius: 3.5px;
	background: linear-gradient(134deg, #070707 4.41%, #393939 99.09%);
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block__title-container{
	display: flex;
	align-items: center;
	gap: 16px;
	height: 100px;
	width: 100%;
	cursor: pointer;
}


.specs__block{
	height: 100px;
	background-color: #000;
	border-radius: 24px;
	padding: 0px 48px;
	margin: 0px 0px 24px 0px;
}

.specs__block-current{
	height: 900px;
}

.specs__table-el{
	list-style-type: none;
	width: 100%;
	border-bottom: 2px solid #464646;;
	color: white;
}

ul{
	margin: 0;
	margin-left: 420px;
	display: flex;
	flex-direction: column;
	/* row-gap: 32px; */
}

.table__title{
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0;
	padding-left: 24px;
}

.table__text{
	color: #FFF;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0;
	padding-right: 24px;
	max-width: 700px;
	text-align: right;
}

.table-el__container{
	display: flex;
	justify-content: space-between;
	margin: 16px 0px;
	align-items: center;
}

.order__screen{
	background: linear-gradient(180deg, #FFF 0%, #F4F2EC 15.63%);
}

.order__subtitle{
	color: #000;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	margin: 0;
	}

.order__title{
	color: #000;
	font-family: Poppins;
	font-size: 96px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin: 0;
}

.order__text-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 32px 0px;
}

.order__color-picker{
	width: 200px;
	height: 54px;
	border-radius: 100px;
	border: none;
	background: linear-gradient(90deg, #F4F2EC 11.66%, #FFF 102.47%);
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	padding: 0px 12px;
}

.order__button{
	border: none;
	border-radius: 100px;
	width: 194px;
	height: 54px;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	cursor: pointer;
}

.order__menu-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 64px;
	margin-bottom: 50px;
}

.color-picker__circle{
	width: 28px;
	cursor: pointer;
}

.color-picker__circle-current{
	transform: scale(1.5);
}

.order__img-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.order__img{
	width: 90%;
}

.footer__text{
	color: #000;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 123.5%;
	cursor: pointer;
}

.footer__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 48px;
	margin: 32px 0px 0px 0px;
}

.footer__lang-choose{
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.footer__text-container{
	display: flex;
	gap: 32px;
}

.lang__flag{
	width: 12px;
}

.lang__svg{
	width: 8px;
}

.footer__line-el{
	width: 50px;
	height: 3px;
}

.footer__line{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#line__blue{
	background-color: #192F5D;
}

#line__red{
	background-color: #bd3d44;
}